@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:ital,wght@1,600&family=Noto+Sans&family=Outfit:wght@300;400;800&display=swap');
.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 0px 0px 25px;
    border-bottom: solid rgba(115, 127, 167, 0.623) 1px;
    font-size: 2.3em;
    font-family: 'Outfit', sans-serif;
    font-stretch: condensed;
    letter-spacing: -0.25ch;

}
.title {
    color: white;
}
.link {
    text-decoration: none;
}
.globe {
    position: relative;
    margin: 0px -6px 0px -2px;
    font-size: 49px;
    top: 6px;
    transition: 400ms;
}
.globe:hover {
    color: rgb(42, 202, 128);

}